<h1>Анкеты</h1>
<%= link_to 'Загрузить', upload_worksheets_path %>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Пол</th>
      <th>Возраст</th>
      <th>Язык</th>
      <th>Специальность</th>
      <th>Дата</th>
      <th>Город</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @worksheets.each do |worksheet| %>
      <tr>
        <td><%= worksheet.number %></td>
        <td><%= worksheet.sex_name %></td>
        <td><%= worksheet.age %></td>
        <td><%= worksheet.language_name %></td>
        <td><%= worksheet.specialty_name %></td>
        <td><%= worksheet.dateinput %></td>
        <td><%= worksheet.city_name %></td>
        <td><%= link_to 'Показать', worksheet %></td>
        <td><%= link_to 'Редактировать', edit_worksheet_path(worksheet) %></td>
        <td><%= link_to 'Удалить', worksheet, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Создать Анкету', new_worksheet_path %>
