<p id="notice"><%= notice %></p>

<p>
  <strong>Пол:</strong>
  <%= @worksheet.sex_name %>
</p>

<p>
  <strong>Возраст:</strong>
  <%= @worksheet.age %>
</p>

<p>
  <strong>Язык:</strong>
  <%= @worksheet.language_name %>
</p>

<p>
  <strong>Специальность:</strong>
  <%= @worksheet.specialty_name %>
</p>

<p>
  <strong>Дата заполнения:</strong>
  <%= @worksheet.dateinput %>
</p>

<p>
  <strong>Город:</strong>
  <%= @worksheet.city_name %>
</p>


<table>
  <thead>
    <tr>
      <th></th>
      <th>Стимул</th>
      <th>Реакция</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @worksheet.stimulreaction.each do |f| %>
      <tr>
        <td><%= i = i + 1 %></td>
        <td><%= f.stimul.stimul_withid %></td>
        <td><%= f.reaction.reaction %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Редактировать', edit_worksheet_path(@worksheet) %> |
<%= link_to 'Назад', worksheets_path %>
