<p id="notice"><%= notice %></p>

<p>
  <strong>Sex:</strong>
  <%= @worksheet.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @worksheet.age %>
</p>

<p>
  <strong>Language:</strong>
  <%= @worksheet.language_id %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @worksheet.specialty_id %>
</p>

<p>
  <strong>Dateinput:</strong>
  <%= @worksheet.dateinput %>
</p>

<p>
  <strong>City:</strong>
  <%= @worksheet.city_id %>
</p>

<%= link_to 'Редактировать', edit_worksheet_path(@worksheet) %> |
<%= link_to 'Назад', worksheets_path %>
