<h1>Языка</h1>

<table>
  <thead>
    <tr>
      <th>Язык</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.language %></td>
        <td><%= link_to 'Показать', language %></td>
        <td><%= link_to 'Редактировать', edit_language_path(language) %></td>
        <td><%= link_to 'Удалить', language, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый язык', new_language_path %>
