<h1>Реакции</h1>

<table>
  <thead>
    <tr>
      <th>Reaction</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reactions.each do |reaction| %>
      <tr>
        <td><%= reaction.reaction %></td>
        <td><%= link_to 'Показать', reaction %></td>
        <td><%= link_to 'Редактировать', edit_reaction_path(reaction) %></td>
        <td><%= link_to 'Удалить', reaction, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая реакция', new_reaction_path %>
