<h1>Listing specialties</h1>

<table>
  <thead>
    <tr>
      <th>Specialty</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @specialties.each do |specialty| %>
      <tr>
        <td><%= specialty.specialty %></td>
        <td><%= link_to 'Показать', specialty %></td>
        <td><%= link_to 'Редактировать', edit_specialty_path(specialty) %></td>
        <td><%= link_to 'Удалить', specialty, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая специальность', new_specialty_path %>
