<% if params[:sex] == "diff" %>
 <div id="stimul">
  	<h3>Статистика по запросу:</h3>
    всего реакций на стимул "<%= @stimul.stimul %>" : <%= @stimul.reaction_all.count.count %>
	<br>	
  </div>

<table>
  <thead>
    <tr>
      <th>Реакции1</th>
      <th>Частота</th>
      <th>М</th>
      <th>Ж</th>
    </tr>
  </thead>

  <tbody>
    <% @stimul.reaction_all.each do |f| %>
      <tr>
        <td><%= f.reaction.reaction rescue nil %></td>
        <% @stimul.sex="all" %>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
        <% @stimul.sex="man" %>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
        <% @stimul.sex="woman" %>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

 <div id="stimul">
    <h3>Статистика по запросу:</h3>
    всего реакций на стимул "<%= @stimul.stimul %>" : <%= @stimul.reaction_all.count.count %>
  <br>  
  </div>

<table>
  <thead>
    <tr>
      <th>Реакции</th>
      <th>Частота</th>
    </tr>
  </thead>

  <tbody>
    <% @stimul.reaction_all.each do |f| %>
      <tr>
        <td><%= f.reaction.reaction rescue nil %></td>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>