<% if params[:sex] == "diff" %>
 <div id="stimul">
  	<h3>Статистика по запросу:</h3>
    всего реакций на стимул "<%= @stimul.stimul %>" : <%= @stimul.reaction_all_count %>
	<br>	
  </div>

<table>
  <thead>
    <tr>
      <th>Реакции</th>
      <th>Частота</th>
      <th>М</th>
      <th>Ж</th>
    </tr>
  </thead>
  <tbody>
    <% @stimul.reaction_all.each do |f| %>
      <tr>
        <% if f.reaction.reaction != "отказ" %>
        <td><%= f.reaction.reaction rescue nil %></td>
        <% @stimul.sex="all" %>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
        <% @stimul.sex="man" %>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
        <% @stimul.sex="woman" %>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
        <% end %>    
      </tr>
    <% end %>
      <% fd = @stimul.reaction_count(Reaction.find_by_reaction("нет реакции").id) rescue nil
      f = Reaction.find_by_reaction("нет реакции")
      if fd > 0  and fd.nil? ==false %>
      <tr>
        <td><b><%= f.reaction rescue nil %></b></td>
        <% @stimul.sex="all" %>
        <td><b><%= @stimul.reaction_count(f.id) %></b></td>
        <% @stimul.sex="man" %>
        <td><b><%= @stimul.reaction_count(f.id) %></b></td>
        <% @stimul.sex="woman" %>
        <td><b><%= @stimul.reaction_count(f.id) %></b></td>
      </tr>
      <% end %>
  </tbody>
</table>

<% else %>

 <div id="stimul">
    <h3>Статистика по запросу:</h3>
    всего реакций на стимул "<%= @stimul.stimul %>" : <%= @stimul.reaction_all_count %>
  <br>  
  </div>

<table>
  <thead>
    <tr>
      <th>Реакции</th>
      <th>Частота</th>
    </tr>
  </thead>

  <tbody>
    <% @stimul.reaction_all.each do |f| %>
      <tr>
        <% if f.reaction.reaction != "нет реакции" %>
        <td><%= f.reaction.reaction rescue nil %></td>
        <td><%= @stimul.reaction_count(f.reaction_id) %></td>
        <% end %> 
      </tr>
    <% end %>
      <% fd = @stimul.reaction_count(Reaction.find_by_reaction("нет реакции").id) rescue nil
      f = Reaction.find_by_reaction("нет реакции")
      if fd > 0  and fd.nil? ==false %>
      <tr>
        <td><b><%= f.reaction  %></b></td>
        <td><%= @stimul.reaction_count(f.id) %></td>
      </tr>
      <% end %>
  </tbody>
</table>

<% end %>