<h1>Справочники</h1>
<p><%= link_to "Города", cities_path %> </p>
<p><%= link_to "Языки", languages_path %> </p>
<p><%= link_to "Реакции", reactions_path %> </p>
<p><%= link_to "Реакции Словарь", reactions_dic_path %> </p>
<p><%= link_to "Специальности", specialties_path %> </p>
<p><%= link_to "Стимулы", stimuls_path %> </p>


