<h1>Стимулы</h1>

<table>
  <thead>
    <tr>
      <th>Номер</th>
      <th>Стимул</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <%= link_to 'Загрузить', upload_stimuls_path %>

  <tbody>
    <% @stimuls.each do |stimul| %>
      <tr>
        <td><%= stimul.id %></td>
        <td><%= stimul.stimul %></td>
        <td><%= link_to 'Показать', stimul %></td>
        <td><%= link_to 'Редактировать', edit_stimul_path(stimul) %></td>
        <td><%= link_to 'Удалить', stimul, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stimul', new_stimul_path %>
