<h1>Listing stimuls</h1>

<table>
  <thead>
    <tr>
      <th>Stimul</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stimuls.each do |stimul| %>
      <tr>
        <td><%= stimul.stimul %></td>
        <td><%= link_to 'Show', stimul %></td>
        <td><%= link_to 'Edit', edit_stimul_path(stimul) %></td>
        <td><%= link_to 'Destroy', stimul, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stimul', new_stimul_path %>
